html
	head
		title Savage Snipe
		style
			include common.css
			include articles.css
	body
		include menu.pug
		div(class='centered main-content')
			h1 Articles
			each meta in articleMetas
				a(href=meta.url class='article-title')
					= meta.publishDate + ' ' + meta.title

		include footer.pug
