html
	head
		include common-header.pug
		link(rel='stylesheet' type='text/css' href='/css/articles.css')
	body
		include menu.pug
		div(class='centered main-content centered-text')
			each meta in metas
				p
					a(href=meta.url)= meta.title
			include footer.pug
