html
	head
		title Savage Snipe
		style
			include styles.css
	body
		include menu.pug
		div(class='centered main-content')
			each meta in metas
				a(href=meta.url)
					= meta.title
		include footer.pug
