html
	head
		include common-header.pug
	body
		include menu.pug
		div(class='centered main-content')
			div(id='article-list')
				each meta in metas
					a(href=meta.url)
						div(class='article-title')= meta.title
						p= meta.summary
