html
	head
		include common-header.pug
	body
		include menu.pug
		div(class='centered main-content')
			div(class='centered-text')
				p(class='page-summary')= summary
			each meta in metas
				div(class='item-list-item')
					a(href=meta.url)= meta.title
		include footer.pug
