/* Tags */

body {
	background: #282829;
	color: #cecece;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #cecece;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Classes */

.article-title {
	font-size: 1.2em;
	margin-top: 1em;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.centered-text {
	text-align: center;
}

.main-content {
	font-size: 1.2em;
	padding-left: 10%;
	padding-right: 10%;
	min-width: 500px;
}

.page-summary {
	font-style: italic;
}

/* IDs */

#menu {
	border-bottom: solid 1px;
	display: table;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-bottom: 0.5em;
}

#menu a{
	margin: 1em 1.2em;
	text-align: center;
}

#footer {
	border-top: solid 1px;
	display: table;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-top: 0.5em;
}

#footer a {
	text-decoration: none;
}

#footer div {
	height: 2em;
	width: 2em;
}
