body {
	background: #282829;
	color: #cecece;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #cecece;
	text-decoration: none;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.centered-text {
	text-align: center;
}

.main-content {
	font-size: 1.2em;
	padding-left: 10%;
	padding-right: 10%;
	min-width: 500px;
}

#menu {
	margin-top: 1em;
	width: 100%;
}

#menu a{
	padding: 1em 1.2em;
	text-align: center;
}

#menu a:hover {
	background-color: #ddd;
	color: black;
}

#footer {
	display: table;
	border-top: solid;
	margin-top: 1em;
	padding-top: 0.5em;
	margin-bottom: 1em;
}

#footer a {
	text-decoration: none;
}

#footer div {
	height: 2em;
	width: 2em;
}
