/* Tags */

body {
	background: #000000;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #02e2e2;
	text-decoration: none;
}

a[href^="http"]:not([class="no-external-icon"]):after {
	background-image: url("/img/external-link-1.svg");
	background-repeat: no-repeat;
	background-size: 1em;
	content: '';
	display: inline-block;
	margin-left: 0.1em;
	max-height: 1em;
	max-width: 1em;
	height: 1em;
	width: 1em;
	white-space: pre-line;
}

a:hover {
	text-decoration: underline;
}

/* Classes */

.item-list-item {
	font-size: 1.2em;
	margin-top: 1em;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.centered-text {
	text-align: center;
}

.main-content {
	font-size: 1.2em;
	padding-left: 10%;
	padding-right: 10%;
	min-width: 500px;
}

.page-summary {
	font-style: italic;
}

/* IDs */

#menu {
	border-bottom: solid 1px;
	display: table;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-bottom: 0.5em;
}

#menu a{
	color: #cecece;
	margin: 1em 1.2em;
	text-align: center;
}

#footer {
	border-top: solid 1px;
	display: table;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-top: 0.5em;
}

#footer div {
	height: 2em;
	width: 2em;
}
