extends layout.pug

block content
	.row: .col-auto: h1 #{title}
	-
		var dateStr = date.toLocaleString(undefined, {
			timeZone: 'UTC', year: 'numeric', month: 'long', day: 'numeric'
		})

	.row: p.col= dateStr
	#content.row: .col!= contents
