body {
	background-color: #000;
}

a, a:link, a:visited, a:active {
	border-color: #fff;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	color: #fff;
	padding: 0 0 2px 0;
	text-decoration: none;
}

a.no-underline {
	border-width: 0 0 0 0;
	text-decoration: none;
}

#content h1 {
	font-size: 1.7rem;
}

#content h2 {
	font-size: 1.5rem;
}

#content h3 {
	font-size: 1.2rem;
}

blockquote {
	margin: 0 1rem 1rem; 
}

code {
	border: 1px solid white;
	border-radius: 3px;
	color: #fff;
	padding: .2rem .4rem;
}

hr {
	border-top: 1px solid #fff;
}

pre {
	border: 1px solid white;
	border-radius: 3px;
	color: #fff;
	padding: .5rem;
}

pre code {
	border: none;
	padding: 0;
}

table {
	margin-bottom: 1rem;
	width: 100%;
}

table, th, td {
	border: 1px solid #fff;
}

th[align=center], td[align=center] {
	text-align: center;
}
